.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-yellow{
  background:#FFD700 ;
}

.container{
  max-width: 90%;
}

.headerWrapper .faixa{
  padding: 8px 0px;
}

.headerWrapper .faixa p{
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

.headerWrapper .header{
  width: 100%;
  height: auto;
  padding: 10px 0px;
  margin-top: -16px;
}

.logoWrapper img{
  width: 80%;
}


.headerWrapper .header .part2 .countryDrop{
  width: 150px;
  height: 54px;
  min-width: 150px;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px !important;
  padding: 10px 15px !important;
  right: 2%;
  
}

.headerWrapper .header .part2 .countryDrop{
  text-align: left;
  justify-content: flex-start !important;
}

.headerWrapper .header .part2 .countryDrop .label{
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0,0,0,0.4) !important;
}

.headerWrapper .header .part2 .countryDrop .name{
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #0F4C75 !important;
  font-weight: 700;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg{
  opacity: 0.7;
  margin-left: 30px;
}

.header .headerSearch{
  width: 60%;
  height: 56px;
  background: color #a5a6a8; ;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  
}

.header .headerSearch input{
  background:transparent !important;
  opacity: 90%;
  outline: none !important;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 34px;
  border: none !important;
  padding: 0px 20px !important;
  

}

.header .headerSearch button{
  position: absolute;
  right: 15px;
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  color: #000;
  bottom: 7px;

}

header .headerSearch button svg{
  font-size: 24px;

}

input::placeholder {
  color: #999;
  font-style: italic;
  font-size: 16px;
  
}

header .part3 .circle{
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 45px !important;
  width: 45px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1)!important;
  color:#000;
  margin-right: 10px;

}

header .part3 .circle svg{
  font-size: 22px;
  
}

header .part3{
  margin: 20px;
}

.carTab .price{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  

}

.cartTab button{
  background: #fff1ee !important;
  margin-left: 10px;

}

.carTab button svg{
  color: #ea2b0f !important;
}

.cartTab .count{
  position: absolute;
  top: -5px;
  right: 6px;
  background:#ea2b0f ;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
}